#sme_twitter_sidebar {
	position: relative;
}
#twbox1 {	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:5px solid #00aced;
	background-color: #fff;
	position: fixed;}
#twbox2 {
	overflow: hidden;
	text-align: left;
}
#twbox1 img {
	position: absolute; 
	top: 0px; 
	cursor: pointer;
	border: 0;
	z-index: 10000;
}
#twbox1 iframe {
	border:0px;	overflow: hidden; 	position: absolute;	width:100%;	height: 100%;
}